body {
  font: 15px "QuickSand", Helvetica, Arial, sans-serif;
}
::placeholder{
  font-weight: 400;
}
.sBox{
  display: block;
  text-align: center;
  background-color: unset;
  margin:105px auto;
  min-width: 45.6%;
}
.sImg{
  width: 100%;
  margin: 0px auto;
  text-align: center;
}
#sImg{
  width: 400px;
  max-width: 90%;
  margin:10px;
  margin-bottom: 20px;
}
.sInpt{
  width: 632px;
  margin:10px;
  display: inline-flex;
  box-shadow: 1px 2px 4px 0 rgba(27,42,53,.25);
  transition: all 0.1s ease-in-out;
  border-radius: 3px;
}
.sInpt:hover{
  box-shadow: 1px 3px 6px 0 rgba(27,42,53,.25);
}
#sBar{
  width: 584px;
  height:44px;
  outline: 0px;
  padding: 10px;
  border: 0.5px solid rgba(27,42,53,.10);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  font-weight: 500;
}
#sBtn{
  background-color: unset;
  border-left: none;
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
  border: 0.5px solid rgba(27,42,53,.10);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left:none;
  outline: 0
}
#sBtnIcon{
  font-size: 25px;
  padding-left: 8px;
  padding-right: 8px;
  color: gray;
  transition: all 0.1s ease-in-out;
}
#sBtnIcon:hover{
  color: black;
  font-weight: 800;
}
.sInptBtn{
  margin-top: 20px;
}
#sInptBtn{
  background-color: rgba(27,42,53,.10);
  outline:0;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  color:rgba(27,42,53,.80);
  font-size: 15px;
}
#sInptBtn:hover{
  border:1px solid rgba(27,42,53,.10);
  color: black;
}
.sInfoMines{
  display: inline-block;
  line-height: 28px;
  padding-top: 5px;
  max-width: 800px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.sInfoNeighbours{
  margin-top: 20px;
}
#sInfo{
  padding-left: 5px;
  padding-right: 5px;
  font-size: small;
  display: inline-block;
}
#choices {
  background-color: #ffffff21;
  border-radius: 1rem;
  margin: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  color:grey;
  outline: none!important;
  transition: all 0.1s ease-in-out;
  border: 1px solid lightgray;
}
.choiceLst{
  padding-left:0px;
  display:inline-block;
  text-align:center;
}
#choices:hover{
  background-color: lightgrey;
}
.clicked {
  background-color:#bdd73c!important;
  color: black!important;
  font-weight: 500;
}
.chbtn{
  outline: none!important;
  padding: 0px!important;
}
.chbtn.active{
  box-shadow: none;
}
table tr {
  display: table-cell;
  padding: 10px;
  margin:10px;
}

#sResultBox{
  max-width: 100%;
  width:600px;
  margin: 10px auto;
  border-radius: 3px;
  border: 0.6px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transform: translateZ(0);
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}
#sResultBox:hover{
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
#mineNameHeader{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display:inline-block;
  width:100%;
  background-color:#fafafa;
}
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #d1d5da;
  font-size: 20px;
  height: 20px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top {
    color: #42b72a;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}
.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}
.sHeader{
  display: inline-flex;
}
#sImgHeader{
  width:120px;
  padding: 10px;
  cursor: pointer;
}
#sHeaderLogo{
  padding-top: 15px;
}
.jumbotron.rHeader{
  position: fixed;
  width:100%;
  padding-top: 20px;
  background-color: #fafafa;
  z-index: 100;
  border-bottom: 10px solid white;
}
.rType{
  padding: 10px;
}
.sResultsMine{
  position: fixed;
  right: 15px;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding:10px;
  margin:20px;
  width:35%;
  font-size:13px;
  display: none;
  background-color: white;
}
#mineInfoHeader{
  display: flex;
  width: 100%;
  min-height: 100px;
}
#mineInfoName{
  display: flex;
  align-items: center;
  flex: 1 10;
}
#mineInfoLogo{
  float: right;
  border-radius: 10px;
}
.sResults{
  margin:20px;
  margin-left:150px;
  max-width:600px;
  float:left;
}
#numberResults{
display:none;
color:#808080;
font-weight:500;
font-size:12px;
}
#failAPIMines{
  display:none;
  color:#808080;
  font-weight:500;
  font-size:12px;
}
@media only screen and (max-width: 500px) {
    .sBox{
        width: 170%;
        margin-top: 250px;
    }
    #sImg{
      margin-bottom: 10px;
    }
    .sInpt{
      height: 70px;
      border-radius: 5px;
      box-shadow: none;
      font-weight: 800;
      font-size: 25px;
    }
    .sInput::placeholder{
      font-weight: 400;
      color: rgba(27,42,53,.50);
    }
    #sBtnIcon{
      font-size: 25px;
    }
    #sInptBtn{
      font-size: 25px;
      height: 70px;
    }
    #sBar, #sBtn{
      height: 70px;
      border: 0.5px solid lightgray;
    }
    #sBar{
      border-right: none;
    }
    #sBtn{
      border-left: none;
    }
    .sInpt:hover{
      box-shadow: none;
    }
    #sInfo{
      font-size: 17px;
    }
    #sResultBox{
      width: 100%;
    }
    .sResultsMine{
      display: none!important;
    }
    .sResults{
      margin-left: 20px;
    }
}
